<ion-content>
  <ion-card color="dark" >
    <ion-card-subtitle>Añadir nuevo producto</ion-card-subtitle>
    
    <form [formGroup]="miFormulario">
      <ion-item>
        <ion-label>Nombre producto</ion-label>
        <ion-input formControlName="nombre" type="text" ></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Precio producto</ion-label>
        <ion-input formControlName="precio" type="number" ></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Stock producto</ion-label>
        <ion-input formControlName="stock" type="number" ></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>SKU</ion-label>
        <ion-input formControlName="sku" type="text" ></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Descripcion producto</ion-label>
        <ion-textarea formControlName="descripcion" ></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Imagen</ion-label>
        <ion-input required type="file" (change)="obtenerImagen( $event )" ></ion-input>
      </ion-item>
  
      <ion-button expand="block" (click)="crearProducto()" color="success" >Crear</ion-button>
    </form>
    
  </ion-card>
</ion-content>