<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Zapatillas BBB
    </ion-title>
    
    <ion-buttons slot="end">
      <ion-button>

        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of arrProductos" size="4" >
        <ion-card>
          <img [src]="item.imagen" alt="">
          <ion-card-header>
            <ion-card-title> {{ item.nombre }} </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Precio: {{item.precio}}</p>
            <p>Stock: {{item.stock}}</p>

          </ion-card-content>
        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>  

</ion-content>
