<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Zapatillas BBB
    </ion-title>
    
    <ion-buttons slot="end">
      <ion-button>

        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col size="4" >
        <ion-card>
          <ion-card-header>hola</ion-card-header>
          <ion-card-content>
            <p>Wena wena</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4" >
        <ion-card>
          <ion-card-header>hola</ion-card-header>
          <ion-card-content>
            <p>Wena wena</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4" >
        <ion-card>
          <ion-card-header>hola</ion-card-header>
          <ion-card-content>
            <p>Wena wena</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>  

</ion-content>
