<ion-header>
  <ion-toolbar>
    <ion-title>Panel de Control</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="button" >
      
      <ion-tab-button tab="crear">
        <ion-icon name="add-circle"></ion-icon>
        <ion-label>Crear</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="editar">
        <ion-icon name="create"></ion-icon>
        <ion-label>Editar</ion-label>
      </ion-tab-button>
    
      <ion-tab-button routerLink="/home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="eliminar">
        <ion-icon name="close-circle"></ion-icon>
        <ion-label>Quitar</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
  

</ion-content>
